Part : <./Data/ships/terran/base_part_terran.rules>/Part
       <../cables.rules>/Part
{
	NameKey = "Parts/Substation2"
	IconNameKey = "Parts/Substation2Icon"
	ID = YBJ.MMCTsubstation2 // Part IDs must always be in the form of "author_name.part_name". If making your own mod, do *not* use "cosmoteer" as your author name, because it may conflict with future vanilla parts.
	EditorGroup = "Power"
	DescriptionKey = "Parts/Substation2Desc"
	Resources
	[
		[tristeel, 6]
		[coil2, 18]
	]
	TypeCategories = [cable_receptor]
	ReceivableBuffs : ^/0/ReceivableBuffs [MMCTCableCable, MMCTCableCableFlood, ElectronDebuff, ElectronNebula]
	Size = [1, 2]
	MaxHealth = 1800
	AllowedDoorLocations
	[
		[0, 2]
	]
	EditorIcon
	{
		Texture
		{
			File = "icon.png"
			SampleMode = Linear
		}
		Size = [32, 64]
	}

	// Make it slightly bigger then cable so priority works
	batteryStorageMax = 3000
	buffRange = 10

	Components : ^/0/Components
	             ^/1/Components
	{

		IsOperational
		{
			Type = MultiToggle
			Toggles = [PowerToggle, BatteryStorage]
			Mode = All
		}

		PowerToggle
		{
			Type = UIToggle
			ToggleID = "on_off"
			Default = 1
			RequiresCommand = false
		}

		CommandConsumer
		{
			Type = CommandConsumer
			OperationalToggle = PowerToggle
			CommandPoints = 1
		}

		// Cable parts overrides
		// this part is 1x2, not 1x1
        ProxyBatteryStorageRight2 : &ProxyBatteryStorageRight
        {
            PartLocation = [1, 1]
        }
		ProxyCapacitorRight2 : &ProxyCapacitorRight
        {
            PartLocation = [1, 1]
        }
		ProxyBatteryStorageLeft2 : &ProxyBatteryStorageLeft
        {
            PartLocation = [-1, 1]
        }
		ProxyCapacitorLeft2 : &ProxyCapacitorLeft
        {
            PartLocation = [-1, 1]
        }
		ProxyBatteryStorageDown : ^/1/ProxyBatteryStorageDown
        {
            PartLocation = [0, 2]
        }
		ProxyCapacitorDown : ^/1/ProxyCapacitorDown
        {
            PartLocation = [0, 2]
        }
		CombinedBatteryStorageNotUp : ^/1/CombinedBatteryStorageNotUp
        {
            ResourceStorages = [ProxyBatteryStorageDown, ProxyBatteryStorageLeft, ProxyBatteryStorageLeft2, ProxyBatteryStorageRight, ProxyBatteryStorageRight2]
        }
        CombinedBatteryStorageNotDown : ^/1/CombinedBatteryStorageNotDown
        {
            ResourceStorages = [ProxyBatteryStorageUp, ProxyBatteryStorageLeft, ProxyBatteryStorageLeft2, ProxyBatteryStorageRight, ProxyBatteryStorageRight2]
        }
        CombinedBatteryStorageNotLeft : ^/1/CombinedBatteryStorageNotLeft
        {
            ResourceStorages = [ProxyBatteryStorageUp, ProxyBatteryStorageDown, ProxyBatteryStorageRight, ProxyBatteryStorageRight2]
        }
        CombinedBatteryStorageNotRight : ^/1/CombinedBatteryStorageNotRight
        {
            ResourceStorages = [ProxyBatteryStorageUp, ProxyBatteryStorageDown, ProxyBatteryStorageLeft, ProxyBatteryStorageLeft2]
        }

		// Increase side storages to allow PrioritizeMostEmptyCapacity to work correctly
		RealBatteryStorageUp : ^/1/RealBatteryStorageUp
        {
            MaxResources = &~/Part/batteryStorageMax
        }
        RealBatteryStorageDown : ^/1/RealBatteryStorageDown
        {
            MaxResources = &~/Part/batteryStorageMax
        }
		RealBatteryStorageLeft : ^/1/RealBatteryStorageLeft
        {
            MaxResources = &~/Part/batteryStorageMax
        }
		RealBatteryStorageRight : ^/1/RealBatteryStorageRight
        {
            MaxResources = &~/Part/batteryStorageMax
        }

		BatteryStorageLeft : ^/1/BatteryStorageLeft
		{
			ResourceStorages = [RealBatteryStorageLeft, ProxyCapacitorLeft, ProxyCapacitorLeft2]
		}
		BatteryStorageRight : ^/1/BatteryStorageRight
		{
			ResourceStorages = [RealBatteryStorageRight, ProxyCapacitorRight, ProxyCapacitorRight2]
		}

		// TODO: Split into two buffs (parts and substations+cables) so power transfer can be InOrder, will make loops less visible.
		BuffedBatteryStorages
		{
			Type = MultiResourceStorage
			ResourceType = battery
			ViaBuffs
			{
				OutgoingBuffProviders = [BuffProvider]
				ComponentIDs = [BatteryStorage, LocalBatteryStorage] //CombinedBatteryStorage, ExtendableBatteryStorage can be added when this is fixed: https://discord.com/channels/314103695568666625/1217997698993754254
			}
			AddMode = PrioritizeLeastResources
			IncludeWhenUnderConstruction = false
		}
		BatteryConsumer
		{
			Type = ResourceConsumer
			ResourceType = battery
			Storage = BatteryStorage
			DefaultPriority = &/PRIORITIES/Thruster_Supply
			ResupplyThreshold = (&~/Part/transferQuantity)
			OperationalToggle = PowerToggle
		}
		
		BuffBatteryStorages
		{
			Type = ResourceConverter
			FromStorage = BatteryStorage
			FromQuantity = &~/Part/transferQuantity
			ToStorage = BuffedBatteryStorages
			ToQuantity = &~/Part/transferQuantity
			Interval = { BaseValue=(&~/Part/transferInterval) - 0.001; BuffType=ElectronDebuff; BuffMode=Divide; }
			// Interval = (&~/Part/transferInterval) - 0.001 // Dirty hack here to make it happen before MoveBatteryPowerFrom*
			OperationalToggle = PowerToggle
			MinToQuantityForConversion = &~/Part/transferQuantity
            MinFromQuantityForConversion = &~/Part/transferQuantity
		}
		
		// Buffs all parts in area (line in this case) that has proper type category.
		BuffProvider
		{
			Type = AreaBuffProvider
			BuffType = MMCTCableReceptor
			BuffArea = [0, -(&~/Part/buffRange), 1, (&~/Part/buffRange)]
			OperationalToggle = PowerToggle
			BlueprintOnly = false // This is used in ViaBuffs
			Criteria {
			    Categories = [uses_power, power_storage, cable_receptor, cable]
			}
		}
		BuffProviderCables
		{
			Type = GridBuffProvider
			BuffType = MMCTCableCable
			GridDistance = 1
			OperationalToggle = PowerToggle
			BlueprintOnly = true // This is visual only
			Criteria {
			    Category = cable
			}
		}

		// // XXX: Experimental
		// BuffProviderFlood
        // {
        //     Type = FloodFillBuffProvider
        //     BuffType = MMCTCableCableFlood
        //     BuffRegion {
        //         Type = Grid
        //         GridDistance = 1
        //         AllowDiaginals = false
        //     }
        //     OperationalToggle = IsOperational
        //     BlueprintsOnly = false
        //     Criteria
        //     {
        //         TypeCategories = [cable, cable_receptor]
        //     }
        // }

		Graphics
		{
			Type = Graphics
			Location = [.5, 1]
			Floor
			{
				Layer = "floors"
				DamageLevels
				[
					{
						File = "floor.png"
						Size = [1, 2]
					}
					{
						File = "floor_33.png"
						Size = [1, 2]
					}
					{
						File = "floor_66.png"
						Size = [1, 2]
					}
				]
			}
			OperationalDoodad
			{
				Layer = "doodads_low"
				DamageLevels
				[
					{
						File = "doodads.png"
						Size = [1, 2]
					}
					{
						File = "doodads_33.png"
						Size = [1, 2]
					}
					{
						File = "doodads_66.png"
						Size = [1, 2]
					}
				]
			}
			Walls
			{
				Layer = "walls"
				DamageLevels
				[
					{
						File = "walls.png"
						Size = [1, 2]
					}
					{
						File = "walls_33.png"
						Size = [1, 2]
					}
					{
						File = "walls_66.png"
						Size = [1, 2]
					}
				]
			}
			Roof
			{
				Layer = "roofs"
				DamageLevels
				[
					{
						File = "roof.png"
						NormalsFile = "roof_normals.png"
						Size = [1, 2]
					}
					{
						File = "roof_33.png"
						NormalsFile = "roof_normals_33.png"
						Size = [1, 2]
					}
					{
						File = "roof_66.png"
						NormalsFile = "roof_normals_66.png"
						Size = [1, 2]
					}
				]
			}
		}
		
		BatterySprites
		{
			Type = ResourceSprites
			Location = [.5, 1]
			ResourceStorage = BatteryStorage
			Layer = "doodads_high"
			HasZeroResourceSprite = false
			ResourceLevels
			[
				{
					File = "batteries1.png"
					Size = [1, 2]
				}
				
				{
					File = "batteries2.png"
					Size = [1, 2]
				}
				
				{
					File = "batteries3.png"
					Size = [1, 2]
				}
				
				{
					File = "batteries4.png"
					Size = [1, 2]
				}
			]
		}
		OperationalAnimation
		{
			Type = Graphics
			Location = [.5, 1]
			OperationalToggle = IsOperational
			OperationalDoodad
			{
				Layer = "doodads_high"
				DamageLevels
				[
					{
						AnimationFiles
						[
							"animation1.png"
							"animation2.png"
							"animation3.png"
							"animation4.png"
							"animation5.png"
						]
						Size = [1, 2]
						AnimationInterval = 0.1
					}
				]
			}
		}

		ElectronDebuffToggle
		{
			Type = BuffToggle
			BuffType = ElectronDebuff
		}
		ElectronDebuffEffectsToggle
		{
			Type = MultiToggle
			Toggles = [ElectronDebuffToggle, BatteryStorage]
			Mode = All
		}

		ElectronNebulaEffects
		{
			Type = ContinuousEffects
			OperationalToggle = ElectronDebuffEffectsToggle
			Location = [0.5, 1]
			MediaEffectsIntensityFactor = { BaseValue=0.5; BuffType=ElectronNebula; BuffMode=Multiply; }
			MediaEffects
			[
				&<./Data/nebulas/electron/particles/electron_reactor_sizzle.rules>

				: /BASE_SOUNDS/AudioExterior
				{
					Sound = "./Data/nebulas/electron/sounds/electron_cloud_reactor_weaken.wav"
					Volume = 20%
					MaxConcurrentVolume = &Volume
					MaxConcurrent = 1
				}
			]
		}

		DestroyedEffects
		{
			Type = DeathEffects
			MediaEffects = &/COMMON_EFFECTS/SmallPartDestroyedDry
			Location = [.5, 1]
			IncludeWhenUnderConstruction = false

			FactorHitEffectsWith = BatteryStorage
			HitEffects
			[
				{
					Type = ResourceDrain
					ResourceType = battery
					Amount = 12000
					Radius = 3
					Delay = .05
					ExpandDuration = .1
					ExpandStartRadius = 4
					ExpandLoss = 100%
					Filter
					{
						OperationalHealth = true
						StructuralHealth = false
						Friendlies = true
					}
				}
			]
		}

		Indicators
		{
			Type = IndicatorSprites
			Location = [0.5, 1]
			Layer = "indicators"
			Indicators
			[
				// Out of power.
				{
					Toggle = BatteryStorage
					AtlasSprite
					{
						File = &/INDICATORS/NoPower
						Size = [0.5, 0.5]
					}
				}
			]
		}
		Blueprints
		{
			Type = BlueprintSprite
			File = "blueprints.png"
			Size = [1, 2]
		}
	}

	Stats : ^/1/Stats
	{
		MMCTSupplyDistanceL = &~/Part/buffRange
	}

}
